html, body {
    height: 100%;
}

body {
    font-family: 'Sawarabi Gothic', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://wallpapers.com/images/hd/studio-ghibli-howl-s-moving-castle-j40hqc63s09xvdtw.webp'); /* Replace with your image URL */
    background-size: cover; /* Cover the entire body */
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
}

.navbar {
    position: relative; /* Allows positioning of children */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #86BBD8, #A5D5AB); /* Soft, nature-inspired gradient */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
    border-bottom: 2px solid #A5D5AB;
}

li {
    position: relative;
}

li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 10px;
    transition: color 0.4s ease, transform 0.4s ease;
    font-weight: normal;
}

/* li:not(:last-child) {
    position: relative;
}

li:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 100%;
    margin-left: 50px;
    background-color: rgba(255, 255, 255, 0.25);
    width: 2px;
    height: 35px;
    top: 50%;
    transform: translateY(-50%);
} */

li a:hover {
    color: #FDE8C8;
    transform: translateY(-5px) scale(1.07);
}

.active {
    color: #FDE8C8;
}

.flex-container {
    display: flex;
    background-color: none;
    justify-content: center;
    margin-top: 41px;
    min-height: calc(100vh - 60px);
    width: 100vw;
    /* z-index: 1; */
}

.flex-container > div {
    background-color: #FDE8C8;
    margin: 50px;
    padding: 10px; /* Reduced padding for a tighter fit */
    font-size: small;
    /* text-align: left; */
    border-radius: 8px;
    /* box-shadow: 5px 3px 10px #686666; */
    width: 2000px; /* Fixed width */
    height: 800px; /* Fixed height to maintain consistency */
    display: flex; /* Enable flexbox for the container */
    flex-direction: column; /* Stack children vertically */
    overflow: hidden; /* Hide overflow to prevent button overlap */
    opacity: 0.9;
}

/* For screens up to 1024px (iPads in landscape and portrait mode) */
@media (max-width: 1024px) {
    
}

/* For screens up to 768px (smaller tablets) */
@media (max-width: 768px) {
    
}

/* For screens up to 480px (mobile phones) */
@media (max-width: 480px) {
}